<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1"  parallel="methods" thread-count="10">
  <parameter name="browser" value="firefox"/>

<!--
  <listeners>
    <listener class-name="me.smash.listener.JyperionListener"/>
  </listeners>
-->
  <test name="Nopackage" >
    <groups>
      <run>
        <exclude name="IT" />
      </run>
    </groups>


    <packages>
      <package name="me.smash"/>
      <package name="pl.codeleak.*"/>
    </packages>
  </test>
  <test name="junit-tests" junit="true">

    <packages>
      <package name="pl.codeleak.*"/>
    </packages>

  </test>
</suite>
